<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> favicon}}
        <title>{{Title}} - mobile</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/menu.css">
    </head>
    <body>
        <div class="content">
            <!-- \{{> "name"}} adds the html form the file in "/frontend/views/partials/name.hbs" -->
            {{#NotContained Title (toArray "login")}}
                {{> header}}
            {{/NotContained}}
            
            <!-- \{{{body}}} finds the file from "res.render('name')" where it then gets the html from "/frontend/views/name.hbs"  -->
            {{{body}}}
        </div>
        {{> footer}}
    </body>
</html>